a {
    color: black;
}

@media screen and (min-width: 1001px) {
    .word {
        font-size: 2.5vw;
    }

    .table-word {
        font-size: 2vw;
        margin-right: 2vw;
    }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
    .word {
        font-size: 3vw;
    }

    .table-word {
        font-size: 2.5vw;
        margin-right: 0.5vw;
    }
}

@media screen and (max-width: 600px) {
    .word {
        font-size: 3.5vw;
    }
}

#container {
    display: flex;
}

.assign-sub-card {
    margin-left: 1vw;
    line-height: 5vh;
    font-size: 2vw;
    position: absolute;
    left: 0;
    top: 1vh;
    cursor: pointer;
}

.assign-sub-card:hover {
    color: #646cff;
}

.btn {
    border: 1px solid;
    background-color: transparent;
    text-transform: uppercase;
    font-size: calc(100vw * 12 / 1500)
}

.btn:hover {
    color: #ffffff;
    background-color: #6c6060;
    cursor: pointer;
}
