.box {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-prog {
    display: flex;
    height: 10%;
    color: #999;
    font-size: calc(100vw * 18 / 1500);
    letter-spacing: 1px;
    justify-content: center;
}

.cont-prog {
    display: flex;
    width: calc(100vw * 120 / 1500);
    height: calc(100vw * 120 / 1500);
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.progress-bar-bg {
    fill: none;
    stroke: #dddddd;
    stroke-width: 6;
}

.progress-bar {
    fill: none;
    stroke: #40a9ff;
    stroke-width: 6;
    animation: progress 1s ease forwards;
    stroke-dasharray: var(--stroke-dasharray);
}

@keyframes progress {
    from {
        stroke-dasharray: 0 999;
    }
    to {
        stroke-dasharray: var(--stroke-dasharray);
    }
}

.point {
    font-size: calc(100vw * 24 / 1500);
    line-height: calc(100vw * 24 / 1500);
    font-weight: bold;
    text-align: center;
}

.student-cnt {
    position: absolute;
    font-size: calc(100vw * 18 / 1500);
    line-height: calc(100vw * 18 / 1500);
    font-weight: bold;
    text-align: center;
}
